<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="MotorLease"
			 providerName="System.Data.SqlClient" 
			 connectionString="Data Source=ALLAN\SQLEXPRESS;Initial Catalog=MotorLease;Integrated Security=True"/>
		<add name="LawiRides"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=MAY\SQLEXPRESS;Database=LawiRides;Integrated Security=True"/>
	</connectionStrings>
</configuration>